{% extends "_layout.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>User Form</h1>

        <!-- User Form to Submit -->
        {% from "_form_element.html" import render_field %}
        <form method="POST" action="{{ url_for('users', id=0) }}">
            {{ render_field(form.name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.phone) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
            {{ render_field(form.isActive) }}
            {{ render_field(form.submit) }}
        </form>

    </div>
</div>
{% endblock %}