{% extends "widgets/admin/_layout_admin.html" %}
{% block content %}
<div class="content-wrapper" style="min-height: 521px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    {% with breadcrumb_labels=['Home', 'Dashboard'], active_label='Dashboard'  %}
                        {% include 'widgets/admin/_breadcrumb.html'%}
                    {% endwith %}
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- INFO BOX -->
                <div class="col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cube"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Connected</span>
                            <span class="info-box-number">
                                10
                                <small>Device</small>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-exchange-alt"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Data Received</span>
                            <span class="info-box-number">
                                451.000
                                <small>Message</small>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-server"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Uptime</span>
                            <span class="info-box-number">
                                143
                                <small>Days</small>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-users"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Users</span>
                            <span class="info-box-number">
                                2
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
                <!-- LINE CHART SENSOR HISTORY-->
                <div class="col-md-8">
                    <div class="card card-info">
                        <div class="card-header">
                            Sensor Data
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                {% from "widgets/chart/_line_chart.html" import render_line_chart %}
                                {{ render_line_chart(sensor_data) }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PIE CHART SENSOR SUMMARY BY TYPE-->
                <div class="col-md-4">
                    <div class="card card-success">
                        <div class="card-header">
                            Sensor Type
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                {% from "widgets/chart/_pie_chart.html" import render_pie_chart %}
                                {{ render_pie_chart(sensor_data_by_type) }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- LINE CHART MONTHLY SALES-->
                <div class="col-md-8">
                    <div class="card card-info">
                        <div class="card-header">
                            Monthly Sales
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                {% from "widgets/chart/_line_chart.html" import render_line_chart %}
                                {{ render_line_chart(monthly_sales_data) }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- BAR CHART MONTHLY SALES-->
                <div class="col-md-4">
                    <div class="card card-success">
                        <div class="card-header">
                            Monthly Sales
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                {% from "widgets/chart/_bar_chart.html" import render_bar_chart %}
                                {{ render_bar_chart(monthly_sales_data) }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- HORIZONTAL BAR CHART MONTHLY SALES-->
                <div class="col-md-8">
                    <div class="card card-danger">
                        <div class="card-header">
                            Monthly Sales
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                {% from "widgets/chart/_horizontal_bar_chart.html" import render_horizontal_bar_chart %}
                                {{ render_horizontal_bar_chart(monthly_sales_data) }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- DOUGHNUT CHART SENSOR SUMMARY BY TYPE-->
                <div class="col-md-4">
                    <div class="card card-success">
                        <div class="card-header">
                            Sensor Type
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                {% from "widgets/chart/_doughnut_chart.html" import render_doughnut_chart %}
                                {{ render_doughnut_chart(sensor_data_by_type) }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- GAUGE CHART SENSOR SUMMARY BY TYPE-->
                <div class="col-md-3">
                    <div class="card card-success">
                        <div class="card-header">
                            Temperature
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                {% from "widgets/chart/_gauge_chart.html" import render_gauge_chart %}
                                {{ render_gauge_chart(temperature_data) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
{% endblock %}