{% extends "_layout.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <h1>User List</h1>
            </div>
            <div class="col-sm-6">
                <div class="float-right">
                    <a href="{{ url_for('user', id = 0) }}">
                        <span class="fa fa-plus-circle mr-1"></span>
                        Add a New User
                    </a>
                </div>
            </div>
        </div>

        <!-- Table Records Widget -->
        {% from '_table_records.html' import render_tableRecords %}
            {% call(loop, record) render_tableRecords(record_list, record_header, 
                                            record_count, min_page, max_page, destination) %}
                <!-- Create Table Content -->
                <td>{{ loop.index }}</td>
                <td><a href="{{ url_for('user', id = record.id) }}">
                    {{ record.name }}
                    </a>
                </td>
                <td>{{ record.email }}</td>
                <td>{{ record.phone }}</td>
                <td>{{ record.password }}</td>
                <td>{{ record.isActive }}</td>
            {% endcall %}
    </div>
</div>
{% endblock %}

