{% extends "_layout.html" %}
{% block content %}
<div class="container">
    <div class="p-5 bg-light rounded">
        <div class="row">
            <div class="col-sm-6">
                <h1>User List</h1>
            </div>
            <div class="col-sm-6">
                {% if current_user.has_role('admin') %}
                <div class="float-right">
                    <a href="{{ url_for('user', id = 0) }}">
                        <span class="fa fa-plus-circle mr-1"></span>
                        Add a New User
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Button Widget -->
        {% from "_form_element_vertical.html" import render_button %}
        <!-- Table Records Widget -->
        {% from '_table_records.html' import render_tableRecords %}
            {% call(loop, record) render_tableRecords(record_list, record_header, 
                                            record_count, min_page, max_page, destination, search_key) %}
                <!-- Create Table Content -->
                <td>{{ loop.index + record_list.per_page*(record_list.page - 1)}}</td>
                <td><a href="{{ url_for('user', id = record.id) }}">
                    {{ record.name }}
                    </a>
                </td>
                <td>{{ record.email }}</td>
                <td>{{ record.phone }}</td>
                <td><i class= "fa {{ 'fa-check text-success' if record.active else 'fa-close text-danger'}}" ></i></td>
                <td>{{ record.confirmed_at.strftime("%m/%d/%Y %H:%M:%S") }}</td>
                {% if current_user.has_role('admin') %}
                <td class="text-right px-0">
                    <form method="POST" action="{{ url_for('user_delete', id=record.id) }}" class="mr-2">
                        {{ render_button(action.delete, "danger btn-sm") }}
                    </form>
                </td>
                <td class="px-0">
                    <form method="POST" action="{{ url_for('user_activate', id=record.id, active=not record.active) }}">
                        {% if not record.active %}
                            {{ render_button(action.activate, "success btn-sm") }}
                        {% else %}
                            {{ render_button(action.deactivate, "warning btn-sm") }}
                        {% endif %}
                    </form>
                </td>
                {% endif %}
            {% endcall %}
    </div>
</div>
{% endblock %}

