{% extends "widgets/admin/_layout_admin.html" %}
{% block content %}
<div class="content-wrapper" style="min-height: 521px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Roles</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    {% with breadcrumb_labels=['Home', 'Roles'], active_label='Roles'  %}
                        {% include 'widgets/admin/_breadcrumb.html'%}
                    {% endwith %}
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <!-- Button Widget -->
                    {% from "widgets/_form_element_vertical.html" import render_button %}
                    <!-- Table Records Widget -->
                    {% from 'widgets/_table_records.html' import render_tableRecords %}
                        {% call(loop, record) render_tableRecords(record_list, record_header, 
                                                        record_count, min_page, max_page, destination, search_key) %}
                            <!-- Create Table Content -->
                            <td>{{ loop.index + record_list.per_page*(record_list.page - 1)}}</td>
                            <td><a href="{{ url_for('role', id = record.id) }}">
                                {{ record.name }}
                                </a>
                            </td>
                            <td>{{ record.description }}</td>
                        {% endcall %}
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
{% endblock %}

