{% macro render_unified_chart_control() -%}

<button id="StartStream" class="btn btn-primary btn-sm mb-1 mr-1"><span
        class="fas fa-play"></span></button>
<button id="StopStream" class="btn btn-danger btn-sm mb-1 mr-1" disabled><span
        class="fas fa-stop"></span></button>
<button id="ClearChart" class="btn btn-success btn-sm mb-1 mr-1"><span
        class="fas fa-eraser"></span></button>
<span id="LabelConnection" class="btn btn-secondary btn-sm mb-1">
        <span class="fas fa-plug mr-1"></span>disconnected </span>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        // Socket.IO Listener
        var socket = io({autoConnect: false, reconnection: false});

        {% set filter_data, _CHART_LIST_ = varargs %}
        
        {% for _CHART_ in _CHART_LIST_ %}
        socket.on('{{ _CHART_.event }}', function (msg) {
            console.log('Receive Message : ', msg, ' in event {{ _CHART_.event }}');

            {% if _CHART_.type == 'gauge' %}
            window.Chart_{{ _CHART_.name }}.data.datasets[0].value = msg.datasets[0].value;
            {% else %}
            var currentLabelAdded = false;
            for (var i = 0; i < msg.datasets.length; i++){
                // find idx datasets and data_idx datasets.data
                var idx = window.Chart_{{ _CHART_.name }}.data.datasets.findIndex(item => item.label === msg.datasets[i].label);
                var data_idx = window.Chart_{{ _CHART_.name }}.data.labels.findIndex(item => item === msg.label)

                // Update dataset
                if (idx > -1) {
                    // Update datasets.data
                    if (data_idx > -1 && msg.label !== "" && !currentLabelAdded) {
                        window.Chart_{{ _CHART_.name }}.data.datasets[idx].data[data_idx] = msg.datasets[i].data;
                    }
                    // Add new datasets.data
                    else {
                        window.Chart_{{ _CHART_.name }}.data.datasets[idx].data.unshift(msg.datasets[i].data);
                        if (msg.label !== "" && !currentLabelAdded) window.Chart_{{ _CHART_.name }}.data.labels.unshift(msg.label);
                    }
                    currentLabelAdded = true;
                }
                // Add new dataset
                else {
                    window.Chart_{{ _CHART_.name }}.data.datasets.unshift({
                        label: msg.datasets[i].label,
                        data: [msg.datasets[i].data],
                        borderColor: msg.datasets[i].borderColor,
                        backgroundColor: msg.datasets[i].backgroundColor,
                    });
                    if (msg.label !== "" && !currentLabelAdded) window.Chart_{{ _CHART_.name }}.data.labels.unshift(msg.label);
                    currentLabelAdded = true;
                }
            }
            
            {% endif %}    

                        // apply filter data if quick_range TRUE
            var is_quick_range = {{ "true" if filter_data.quick_range.data else "false" }};
            var quick_range_data = "{{ filter_data.data.data }}";

            if(is_quick_range === true){
                var code            = quick_range_data.slice(-1);
                var num             =  parseInt(quick_range_data.slice(0, -1));
                var num_second      = moment.duration(num, code).as('seconds');

                var filter_timedelta = (Date.now() - num_second*1000);

                // check if chart is timeseries
                // because quick range only applied into timeseries chart
                if (hasOwnNestedProperty(window.Chart_{{ _CHART_.name }}, 'config.options.scales.xAxes[0].type')){
                    if(window.Chart_{{ _CHART_.name }}.config.options.scales.xAxes[0].type === 'time'){
                        // filter above timedelta for data.datasets.data
                        for (var i=0; i < window.Chart_{{ _CHART_.name }}.data.datasets.length; i++){
                            let arr = window.Chart_{{ _CHART_.name }}.data.datasets[i].data;
                            arr = arr.filter(function(item){  
                                                        return item.x >= filter_timedelta
                                                    })
                            window.Chart_{{ _CHART_.name }}.data.datasets[i].data = arr;
                        }
                        // filter above timedelta for data.labels
                        let arr = window.Chart_{{ _CHART_.name }}.data.labels;
                        arr = arr.filter(function(item){  
                                                    return item >= filter_timedelta
                                                })
                        window.Chart_{{ _CHART_.name }}.data.labels;
                    }
                }
            }
            
            window.Chart_{{ _CHART_.name }}.update();
            $("#LastReceive_{{ _CHART_.name }}").text(new Date().toLocaleTimeString());
            
            //disable since update is comming from external systems (API integration)
            //socket.emit("{{ _CHART_.start_event }}", "update");
        });
        {% endfor %}

        socket.on('error', function (err) {
            console.log(err);
        });
        // On Start Stream Clicked
        $('#StartStream').click(function () {
            socket.connect();
            {% for _CHART_ in _CHART_LIST_ %}
            socket.emit("{{ _CHART_.start_event }}", "start");
            {% endfor %}
            $('#StartStream').prop("disabled", true);
            $("#StopStream").prop("disabled", false);
            $("#LabelConnection").removeClass('btn-secondary').addClass('btn-success').html('<span class="fas fa-plug mr-1"></span>connected');
            toastr.info("Streaming started!");
        });

        // On Stop Stream Clicked
        $('#StopStream').click(function () {
            {% for _CHART_ in _CHART_LIST_ %}
            socket.emit("{{ _CHART_.start_event }}", "stop");
            $("#LastReceive_{{ _CHART_.name }}").text('');
            {% endfor %}
            $('#StopStream').prop("disabled", true);
            $("#StartStream").prop("disabled", false);
            $("#LabelConnection").removeClass('btn-success').addClass('btn-secondary').html('<span class="fas fa-plug mr-1"></span>disconnected');
            socket.disconnect();
            toastr.error("Streaming stopped!");
        });

        // On Chart Clear
        $('#ClearChart').click(function () {
            {% for _CHART_ in _CHART_LIST_ %}
            {% if _CHART_.type != 'gauge' %}
            window.Chart_{{ _CHART_.name }}.data.datasets = [];
            window.Chart_{{ _CHART_.name }}.data.labels = [];
            window.Chart_{{ _CHART_.name }}.update();
            {% endif %}
            {% endfor %}
            toastr.success("Chart cleared successfully!");
        });
    });
</script>
{%- endmacro %}