<!-- Form Field | Input Common -->
{% macro render_field(field, group_class="", field_class="", readonly=False) %}
<div class="form-group">
  {{ field.label(class="col-form-label") }}
  <!-- Render this if form field error -->
  {% if field.errors %}
  {{ field(class="form-control is-invalid " + field_class, readonly=readonly)|safe }}
  <div class="invalid-feedback">
    {% for error in field.errors %}
    <span class="text-red">{{ error }}</span>
    {% endfor %}
  </div>
  <!-- Render this if form field not error -->
  {% else %}
  {{ field(class="form-control " + field_class, readonly=readonly)|safe }}
  {% endif %}
</div>
{% endmacro %}


<!-- Form Field | Check Box -->
{% macro render_checkbox(field, group_class="", disabled=False) %}
<div class="form-group">
  <div class="form-check">
    <!-- Render this if form field error -->
    {% if field.errors %}
    {{ field(class="form-check-input is-invalid", disabled=disabled)|safe }}
    <div class="invalid-feedback">
      {% for error in field.errors %}
      <span class="text-red">{{ error }}</span>
      {% endfor %}
    </div>
    <!-- Render this if form field not error -->
    {% else %}
    {{ field(class="form-check-input", disabled=disabled)|safe }}
    {% endif %}
    {{ field.label(class="form-check-label") }}
  </div>
</div>
{% endmacro %}

<!-- Form Field | Input Text Area -->
{% macro render_field_area(field, group_class="", readonly=False, rows=3) %}
<div class="form-group">
  {{ field.label(class="col-form-label") }}
  <!-- Render this if form field error -->
  {% if field.errors %}
  {{ field(class="form-control is-invalid", rows=rows, readonly=readonly)|safe }}
  <div class="invalid-feedback">
    {% for error in field.errors %}
    <span class="text-red">{{ error }}</span>
    {% endfor %}
  </div>
  <!-- Render this if form field not error -->
  {% else %}
  {{ field(class="form-control", rows=rows, readonly=readonly)|safe }}
  {% endif %}
</div>
{% endmacro %}

<!-- Form Field | Multiple Select -->
{% macro render_multiple_select(field, group_class="", disabled=False) %}
<div class="form-group">
  {{ field.label(class="col-form-label") }}
  <!-- Render this if form field error -->
  {% if field.errors %}
  {{ field(class="form-control selectpicker is-invalid", disabled=disabled, multiple="multiple")|safe }}
  <div class="invalid-feedback">
    {% for error in field.errors %}
    <span class="text-red">{{ error }}</span>
    {% endfor %}
  </div>
  <!-- Render this if form field not error -->
  {% else %}
  {{ field(class="form-control selectpicker", disabled=disabled, multiple="multiple")|safe }}
  {% endif %}
</div>
{% endmacro %}


<!-- Form Button -->
{% macro render_button(field, color) -%}
{{ field(class="btn btn-" + color) }}
{%- endmacro %}

